<footer class="white-section" id="footer">
    <div class="container-fluid">


    <i class="fab footer-icon fa-twitter"></i>
    <i class="fab footer-icon fa-facebook-f"></i>
    <i class="fab footer-icon fa-instagram"></i>
    <i class="fas footer-icon fa-envelope"></i>
    <p class="copyright">© Copyright 2021 myVIBE</p>
</div>
  </footer>



</body>

</html>