<% layout("layouts/boilerplate") %>

<div class="jumbotron main-div mt-3">
  <h1 class="main-h1 pt-5">myVIBE</h1>
  <p class="main-p pt-5">
    “The truth is that stress doesn’t come from your boss, your kids, your
    spouse, traffic jams, health challenges, or other circumstances. It comes
    from your thoughts about your circumstances.”<b
      ><sub style="color: black">―Andrew Bernstein</sub></b
    >
  </p>
</div>

<div class="container">
  <div class="row pt-5">
    <div class="col-sm-6 text-center pt-5">
      <div class="card main-card" style="height: 23rem">
        <div class="card-body">
          <h3 class="card-title pt-5 heading pb-3">
            HAVING SOME BEHAVIORAL/EMOTIONAL ISSUES?
          </h3>
          <h5 class="card-text">
            Discuss about your problems with an amazing community, see how
            others dealt with similar problems!.
          </h5>
          <a
            href="/dashboard/problems"
            class="btn button btn-primary mt-5"
            name="btn"
            value="discuss"
            >Discuss</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-center pt-5">
      <img
        style="width: 40%"
        src="https://pngimg.com/uploads/rubik_cube/rubik_cube_PNG21.png"
        alt=""
      />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 text-center pt-5">
      <img
        style="width: 35%"
        src="https://i.pinimg.com/originals/08/05/a8/0805a8f92d5f8a31a15587859b965264.png"
        alt=""
      />
    </div>
    <div class="col-sm-6 pt-5">
      <div class="card main-card text-center" style="height: 23rem">
        <div class="card-body">
          <h3 class="card-title heading pt-5 pb-3">
            ARE YOU EXPERIENCING STRESS/DEPRESSION?
          </h3>
          <h5 class="card-text">
            Find great books and stress busting activities to feel relaxed.
          </h5>
          <a
            href="/dashboard/cure"
            class="btn button btn-primary mt-5"
            name="btn"
            value="go"
            >Let's go</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 pt-5">
      <div class="card main-card text-center" style="height: 23rem">
        <div class="card-body">
          <h3 class="card-title pt-5 heading pb-3">WANNA HELP SOMEONE?</h3>
          <h5 class="card-text">
            Have you once experienced Mental diseases. Share your experience and
            inspire others.
          </h5>
          <a
            href="/dashboard/helper"
            class="btn button btn-primary mt-5"
            name="btn"
            value="contact"
            >Let's go</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-center pt-5">
      <img
        style="width: 40%"
        src="http://pngimg.com/uploads/rubik_cube/rubik_cube_PNG39.png"
        alt=""
      />
    </div>
  </div>
</div>
