<% layout("layouts/boilerplate") %>
<div class="container">
  
<center><h3 class="heading p-5">HERE ARE SOME COMMON WAYS TO CURE</h3></center>
  
  <p>
    <ol>
      <Li>
        <h5>Occupy yourself</h5>
        <p>If you ever experience mental stability, keeping yourself busy is the best way to keep you distracted.
          We all know, situations never depress you, It's the overthinking that does. Work on your personality, mind or body.
           <br> 
          Here is a list of some activities, you can perform.
          <br><a href="https://www.boutiquecarehomes.co.uk/article/20-things-you-can-do-to-keep-yourself-busy-when-confined-at-home-during-covid-19">Top 20 activites to keep you busy</a>
        </p>
      </Li>
      <li>
        <h5>Understand the situation</h5>
      <p>Only you know how you feel. Understand what's not going right for you, Work accordingly. Mental issues take a huge turn if you ignore your situtaion. Just learn about the situation and seek help.</p>
      </li>
      <li>
        <h5>Eat right</h5>
        <p>Stress levels and a proper diet are closely related. When we’re overwhelmed, we often forget to eat well and resort to using sugary, fatty snack foods as a pick-me-up.</p>
        <p>Try to avoid sugary snacks and plan ahead. Fruits and vegetables are always good, and fish with high levels of omega-3 fatty acids have been shown to reduce the symptoms of stress. A tuna sandwich really is brain food.</p>
      </li>
      <li>
        <h5>Laugh it off</h5>
        <p>Laughter releases endorphins that improve mood and decrease levels of the stress-causing hormones cortisol and adrenaline. Laughing tricks your nervous system into making you happy.</p>
      </li>
      <li>
        <h5>Exercise (even for a minute)</h5>
        <p>Exercise doesn’t necessarily mean power lifting at the gym or training for a marathon. A short walk around the office or simply standing up to stretch during a break at work can offer immediate relief in a stressful or depressing situation.
          If you can spare some time, you should exercise a bit.
          <br>
          Here are a few exercise:<br>
          <a href="https://www.everydayhealth.com/healthy-living/fitness/9-exercises-stress-relief/">Best exercises for stress</a>
        </p>
      </li>
      <li>
        <h5>Reading books</h5>
        <p>Sometimes a word can be better than 1000 pictures. You can read about books which talk about mental issues and living with them. 
          <br>
          Here are a few recommendations:<br>
          <a href="https://www.sane.org/information-stories/the-sane-blog/wellbeing/nine-great-books-about-living-with-mental-illness">Best books</a>
        </p>
      </li>
      <li>
        <h5>Inspirational movies</h5>
        <p>Watch movies that can inspire you is giving mind a new direction. This is one of the best way to deal with mental problems. It will make your goals more appealing.
          <br>
          Looking for inspiration? Here are some recommendations:<br>
          <a href="https://www.scoopwhoop.com/entertainment/inspirational-hollywood-movies/">Movies that will inspire you</a>
        </p>
      </li>
      
    </ol>
  </p>
</div>

<center><div><a class="btn btn-lg btn-danger m-5" href="/dashboard/cure">back</a></div></center>
