<% layout("layouts/boilerplate") %>
<div class="container text-center">
  <div class="row pt-5">
    <div class="col-sm-6 text-center pt-5">
      <div class="card main-card shadow cure-card1">
        <div class="card-body">
          <h3 class="card-title pt-5 heading pb-3">COMMON WAYS</h3>
          <h5 class="card-text">
            Special recommendations of books, movies and a lot more activites.
            These are the most common ways to treat you easily!
          </h5>
          <a href="/dashboard/cure/common_ways" class="btn btn-primary mt-5"
            >Let's go</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-center pt-5">
      <div class="card main-card shadow cure-card2">
        <div class="card-body">
          <h3 class="card-title pt-5 heading pb-3">
            READ PEOPLE EXPERIENCE WHO GOT CURED!
          </h3>
          <h5 class="card-text">
            myVIBE has helped a lot of individuals experiencing mental problems.
            Read about their experiences and see what you can learn from them.
          </h5>
          <a href="/dashboard/cure/exp_people" class="btn btn-primary mt-5"
            >Let's go</a
          >
        </div>
      </div>
    </div>
  </div>
  <a href="/dashboard" class="btn btn-danger shadow btn-lg mt-5" type="submit"
    >BACK</a
  >
</div>
